<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
<appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <!-- Your django path -->
    <add key="PYTHONPATH" value="D:\inetpub\wwwroot\ats_wiki" /> 
    <!-- Your djangoname.settings -->
    <add key="DJANGO_SETTINGS_MODULE" value="ats_wiki.settings" />
</appSettings>
    <location path="" overrideMode="Allow">
        <system.webServer>
        <handlers>
            <add name="ATS_Wiki" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python311\python.exe|D:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        </system.webServer>
    </location>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="334217728" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>